<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/admin_panel.css}">
    <title>Users</title>
</head>
<body class="bg-light">
<div class="modal fade" id="deletingModal"  tabindex="-1" role="dialog" aria-labelledby="deletingModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletingModalTitle">Delete user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="deleteFormContainer">
                <div>
                    <form id="editForm" th:action="@{/admin/{id}(id=${userDelete.getId()})}" th:method="delete" th:object="${userDelete}">
                        <input type="hidden" name="id" th:field="*{id}">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" disabled name="name" th:field="*{name}" id="name">
                            </div>
                            <div class="form-group">
                                <label for="surname">Surname</label>
                                <input type="text" class="form-control" disabled name="surname" th:field="*{surname}" id="surname">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="text" class="form-control" disabled name="age" th:field="*{age}" id="age">
                            </div>
                            <div class="form-group">
                                <label for="specialization">Specialization</label>
                                <input type="text" class="form-control" disabled name="specialization" th:field="*{specialization}" id="specialization">
                            </div>
                            <div class="form-group">
                                <label for="salary">Salary</label>
                                <input type="text" class="form-control" disabled name="salary" th:field="*{salary}" id="salary">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" disabled name="password" th:field="*{password}" id="password">
                            </div>
                            <div class="form-group">
                                <label for="roles">Roles</label>
                                <select multiple class="form-control"  disabled name="roles" id="roles">
                                    <option value="ROLE_USER" selected>USER</option>
                                    <option value="ROLE_ADMIN">ADMIN</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <p class="navbar-brand">
            <b th:text="${user.getUsername()}"></b>
            <span> with roles: </span>
            <th:block th:each="role:${user.getAuthorities()}">
                <span th:text="${role.toString()}"></span>
            </th:block>
        </p>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto logout">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main class="bg-light">
    <div class="left-menu bg-white">
        <ul class="list-group">
            <a href="/admin" class="list-group-item list-group-item-action active">Admin</a>
            <a href="/user" class="list-group-item list-group-item-action">User</a>
        </ul>
    </div>
    <div class="main-part ">
        <h1>Admin panel</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href=# onclick="change_tab()">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add_form" onclick="change_tab()">New User</a>
            </li>
        </ul>
        <div class="inner-admin-panel border" id="js-tab">
            <h6>All users</h6>
            <table class="table table-striped caption-top">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Age</th>
                    <th>Specialization</th>
                    <th>Salary</th>
                    <th>Roles</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="user:${users}">
                    <tr>
                        <td th:text="${user.getId()}"></td>
                        <td th:text="${user.getName()}"></td>
                        <td th:text="${user.getSurname()}"></td>
                        <td th:text="${user.getAge()}"></td>
                        <td th:text="${user.getSpecialization()}"></td>
                        <td th:text="${user.getSalary()}"></td>
                        <td th:hidden="${user.getPassword()}"></td>
                        <td>
                            <th:block th:each="role:${user.getAuthorities()}">
                                <span th:text="${role.toString()}"></span>
                            </th:block>
                        </td>
                        <td>
                            <a class="btn btn-info"  href="#" th:id="${user.getId()}" type="button" data-toggle="modal" data-target="#editingModal" th:onclick="|modalEdit('${user.getId}')|">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-danger" th:href="'/admin/delete?id=' + ${user.getId()}" type="button" data-toggle="modal" data-target="#deletingModal" th:onclick="|modalDelete('${user.getId}')|">Delete</a>
                        </td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>
    $('#deletingModal').modal();
</script>
</body>
</html>